body.a11ydialog--has-open {
  overflow: hidden; }

.a11ydialog {
  box-sizing: border-box;
  z-index: 9000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 1rem;
  text-align: center;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 9000; }
  .a11ydialog * {
    box-sizing: inherit; }
  .a11ydialog::before {
    display: inline-block;
    content: " ";
    vertical-align: middle;
    height: 100%; }
  .a11ydialog__overlay {
    background-color: #333;
    opacity: .8;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer; }
  .a11ydialog__dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    position: relative;
    margin: 1em;
    width: auto;
    max-width: 90%; }
    @media screen and (min-width: 768px) {
      .a11ydialog__dialog {
        margin: 2em auto;
        width: 600px; } }
  .a11ydialog__document {
    padding: 1em;
    background-color: white;
    border-radius: 2px;
    position: relative; }
    @media screen and (min-width: 768px) {
      .a11ydialog__document {
        padding: 2em; } }
  .a11ydialog__title {
    margin-top: 0;
    outline: none; }
  .a11ydialog__close-button {
    position: absolute;
    top: .5em;
    right: .5em;
    border: 0;
    padding: 0;
    background-color: transparent;
    font-weight: bold;
    font-size: 1.25em;
    width: 1.2em;
    height: 1.2em;
    text-align: center;
    cursor: pointer;
    transition: .15s; }
    @media screen and (min-width: 768px) {
      .a11ydialog__close-button {
        top: 1em;
        right: 1em; } }

/*# sourceMappingURL=a11ydialog.basic.css.map */
